.container {
    width: 100%;
    height: fit-content;
    text-align: center; 
    margin: 0;
}

.title {
    font-size: 18px;
    height: fit-content;

}
.link {
    font-weight: 600;
    color: #9e866b;
    font-size: 14px;

    /* cursor: pointer; */
}
.price {
    margin-top: 15px;
    font-size: 16px;

}

.cardWrapper {
    flex: 1;
    margin: 0 !important;
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #f5fbfd; */
    position: relative;
}



.cardWrapper:hover .info{
    opacity: 1;
}

.info {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0 ;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    background-color: rgba(0,0,0,0.2);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}